<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Buffer</string>
	<key>Builder Version</key>
	<string>7534.51.22</string>
	<key>CFBundleDisplayName</key>
	<string>Buffer</string>
	<key>CFBundleIdentifier</key>
	<string>com.bufferapp.buffer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>addToBuffer</string>
				<key>Identifier</key>
				<string>bufferItem</string>
				<key>Title</key>
				<string>Add to Buffer</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>addToBuffer</string>
				<key>Identifier</key>
				<string>buffer</string>
				<key>Image</key>
				<string>logo_icon_small.png</string>
				<key>Label</key>
				<string>Buffer</string>
				<key>Tool Tip</key>
				<string>Add to Buffer</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>buffer-end.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>buffer.js</string>
				<string>twitter-buffer.js</string>
				<string>jquery-1.7.1.min.js</string>
				<string>jquery.hotkeys.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>twitter-buffer.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Buffer helps you Tweet more consistently.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://bufferapp.com/extensions/safari/version.plist</string>
	<key>Website</key>
	<string>http://bufferapp.com</string>
</dict>
</plist>
